<div class="container">
	{{#each controller}}
		<div>{{title}}</div>
	{{/each}}
	
	<hr />
	
	{{#if isExpanded}}
  		<button {{action contract}}>Modify Universities (Hide)</button>
  		<hr />
  		
  		<!--<select>
	  		<option value="volvo">Choose University...</option>
			<option value="saab">University 1</option>
			<option value="mercedes">University 2</option>
			<option value="audi">University 3</option>
		</select>-->
		<form>
			{{
				view Ember.Select
				contentBinding="view.universityTitleContent"
				selectionBinding="controller.universityData"
				prompt="Choose a university"
				optionValuePath="content.id"
				optionLabelPath="content.fullTitle"
			}} 
	  		<!--<input class="span2" type="text" placeholder="New University Title">-->
	  		{{
	  			view Ember.TextField
	  			valueBinding="controller.description"
	  			prompt="New university title"
	  		}}
	  		<hr />
  			<button type="submit" class="btn" {{action updateUniversity target="view"}}>Update Title</button>
  			<!--<button type="submit" class="btn" {{action deleteUniversity target="view"}}>Delete University</button>-->
  			<button type="submit" class="btn" {{action deleteUniversity target="controller"}}>Delete University</button>
  			<div id="update-status">
  			</div>
  		</form>
	{{else}}
  		<button {{action expand}}>Modify Universities (Show)</button>
	{{/if}}
	
</div>