<div class="container">
	{{#each controller}}
		<div>{{title}},{{description}}</div>
	{{/each}}
	<hr />
	
	<hr />
	
	{{#if isExpanded}}
  		<button {{action contract}}>Modify Universities (Hide)</button>
  		<hr />
  		
  		<!--<select>
	  		<option value="volvo">Choose University...</option>
			<option value="saab">University 1</option>
			<option value="mercedes">University 2</option>
			<option value="audi">University 3</option>
		</select>-->
		<form>
			{{
				view Ember.Select
				contentBinding="controller.universityTitleContent"
				selectionBinding="controller.universityData"
				prompt="Choose a university"
				optionValuePath="content.id"
				optionLabelPath="content.title"
			}} 
	  		<!--<input class="span2" type="text" placeholder="New University Title">-->
	  		{{
	  			view Ember.TextField
	  			placeholder = "Update University Name"
	  			valueBinding="controller.description"
	  		}}
	  		<hr />
	  		{{
	  			view Ember.TextField
	  			placeholder = "Search University"
	  			valueBinding="controller.searchQuery"
	  		}}
  			<button type="submit" class="btn" {{action updateUniversity target="view"}}>Update Title</button>
  			<button type="submit" class="btn" {{action createUniversity target="controller"}}>Create University</button>
  			<button type="submit" class="btn" {{action deleteUniversity target="controller"}}>Delete University</button>

  			<div id="update-status">
  			</div>
  		</form>
  		<hr />
		{{#each controller.searchResults}}
  			{{title}}
		{{/each}}

	{{else}}
  		<button {{action expand}}>Modify Universities (Show)</button>
	{{/if}}
	
</div>