@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_awesome";
@import "compass_twitter_bootstrap_responsive";


* {
margin: 0;
}
html, body {
height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    }
}

#wrap > .container {
  padding-top: 60px;
}

.container .credit {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

.clearfix1:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix1 {
    display: inline-block;
}
.clearfix1 {
    display: block;
}

.clearfix2{
    overflow:hidden;
}

.clearfix3{
    clear:both;
}

.clearfix4{
    clear:both; /*or left*/
}